# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# Exclude certain directories from Git's default behavior
.next/** -text
.vercel/** -text
node_modules/** -text
build/** -text
dist/** -text